body{
  font-family: sans-serif;
  background-color: green;
  background-image: linear-gradient(black,green);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200vh;
  
}
h1{
    text-align: center;
    font-family:Impact;
    color: white;
    
}
p{
    font-family: Impact;


text-decoration: none;
font-size: 25px;
color: white;
background: #000000;
background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(50, 105, 46, 1) 100%);
padding: 20px;
border-radius: 10px;
}

nav{
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(50, 105, 46, 1) 100%);
    height: 60px;
    border-radius: 10px;
    width:95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button{
    background-color: #00ff00;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 15px;
}
nav a{
    text-decoration: white;
    font-size: 15;
    font-weight: bold;
    color: white;
}
